################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/marketing-api/.vs/marketing-api/DesignTimeBuild/.dtbcache.v2
/marketing-api/.vs/marketing-api/FileContentIndex/06e7cd1b-2e00-44ec-90bd-6f098bedcf9e.vsidx
/marketing-api/.vs/marketing-api/FileContentIndex/0eed9f37-50da-45b3-a4c4-39b71c73e5d8.vsidx
/marketing-api/.vs/marketing-api/FileContentIndex/218a1dfa-ccd1-4a15-81de-e0774867621b.vsidx
/marketing-api/.vs/marketing-api/FileContentIndex/769305ab-9bb3-4c6e-9314-b7e722f548f3.vsidx
/marketing-api/.vs/marketing-api/FileContentIndex/b8537d17-bad0-4288-ae27-6bdbc5dab536.vsidx
/marketing-api/.vs/marketing-api/FileContentIndex/d91ae2b5-7937-427f-b2eb-cf899a3fb114.vsidx
/marketing-api/.vs/marketing-api/v17/.futdcache.v2
/marketing-api/.vs/marketing-api/v17/.suo
/marketing-api/.vs/ProjectEvaluation/marketing-api.metadata.v7.bin
/marketing-api/.vs/ProjectEvaluation/marketing-api.projects.v7.bin
/marketing-api/DataLayer/bin/Debug/net6.0/DataLayer.dll
/marketing-api/DataLayer/bin/Debug/net6.0/DataLayer.exe
/marketing-api/DataLayer/bin/Debug/net6.0/DataLayer.pdb
/marketing-api/DataLayer/obj/Debug/net6.0/ref/DataLayer.dll
/marketing-api/DataLayer/obj/Debug/net6.0/refint/DataLayer.dll
/marketing-api/DataLayer/obj/DataLayer.csproj.nuget.dgspec.json
/marketing-api/DataLayer/obj/DataLayer.csproj.nuget.g.props
/marketing-api/DataLayer/obj/Debug/net6.0/apphost.exe
/marketing-api/DataLayer/obj/Debug/net6.0/DataLayer.AssemblyInfoInputs.cache
/marketing-api/DataLayer/obj/Debug/net6.0/DataLayer.assets.cache
/marketing-api/DataLayer/obj/Debug/net6.0/DataLayer.csproj.CoreCompileInputs.cache
/marketing-api/DataLayer/obj/Debug/net6.0/DataLayer.csproj.FileListAbsolute.txt
/marketing-api/DataLayer/obj/Debug/net6.0/DataLayer.dll
/marketing-api/DataLayer/obj/Debug/net6.0/DataLayer.GeneratedMSBuildEditorConfig.editorconfig
/marketing-api/DataLayer/obj/Debug/net6.0/DataLayer.genruntimeconfig.cache
/marketing-api/DataLayer/obj/Debug/net6.0/DataLayer.pdb
/marketing-api/DataLayer/obj/Debug/net6.0/DataLayer.sourcelink.json
/marketing-api/DataLayer/obj/project.assets.json
/marketing-api/DataLayer/obj/project.nuget.cache
/marketing-api/marketing-api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/marketing-api/marketing-api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/marketing-api/marketing-api/bin/Debug/net6.0/DataLayer.dll
/marketing-api/marketing-api/bin/Debug/net6.0/DataLayer.exe
/marketing-api/marketing-api/bin/Debug/net6.0/DataLayer.pdb
/marketing-api/marketing-api/bin/Debug/net6.0/marketing-api.deps.json
/marketing-api/marketing-api/bin/Debug/net6.0/marketing-api.dll
/marketing-api/marketing-api/bin/Debug/net6.0/marketing-api.exe
/marketing-api/marketing-api/bin/Debug/net6.0/marketing-api.pdb
/marketing-api/marketing-api/bin/Debug/net6.0/Models.dll
/marketing-api/marketing-api/bin/Debug/net6.0/Models.pdb
/marketing-api/marketing-api/bin/Debug/net6.0/Service.dll
/marketing-api/marketing-api/bin/Debug/net6.0/Service.pdb
/marketing-api/marketing-api/bin/Debug/net6.0/System.Data.SqlClient.dll
/marketing-api/marketing-api/obj/Debug/net6.0/ref/marketing-api.dll
/marketing-api/marketing-api/obj/Debug/net6.0/apphost.exe
/marketing-api/marketing-api/obj/Debug/net6.0/marketing-api.AssemblyInfoInputs.cache
/marketing-api/marketing-api/obj/Debug/net6.0/marketing-api.assets.cache
/marketing-api/marketing-api/obj/Debug/net6.0/marketing-api.csproj.AssemblyReference.cache
/marketing-api/marketing-api/obj/Debug/net6.0/marketing-api.csproj.CoreCompileInputs.cache
/marketing-api/marketing-api/obj/Debug/net6.0/marketing-api.csproj.FileListAbsolute.txt
/marketing-api/marketing-api/obj/Debug/net6.0/marketing-api.dll
/marketing-api/marketing-api/obj/Debug/net6.0/marketing-api.GeneratedMSBuildEditorConfig.editorconfig
/marketing-api/marketing-api/obj/Debug/net6.0/marketing-api.genruntimeconfig.cache
/marketing-api/marketing-api/obj/Debug/net6.0/marketing-api.pdb
/marketing-api/marketing-api/obj/Debug/net6.0/marketing-api.sourcelink.json
/marketing-api/marketing-api/obj/Debug/net6.0/refint/marketing-api.dll
/marketing-api/marketing-api/obj/marketing-api.csproj.nuget.dgspec.json
/marketing-api/marketing-api/obj/marketing-api.csproj.nuget.g.props
/marketing-api/marketing-api/obj/project.assets.json
/marketing-api/marketing-api/obj/project.nuget.cache
/marketing-api/Service/obj/Debug/net6.0/ref/Service.dll
/marketing-api/Service/obj/Debug/net6.0/refint/Service.dll
/marketing-api/Service/obj/Debug/net6.0/Service.AssemblyInfoInputs.cache
/marketing-api/Service/obj/Debug/net6.0/Service.assets.cache
/marketing-api/Service/obj/Debug/net6.0/Service.csproj.AssemblyReference.cache
/marketing-api/Service/obj/Debug/net6.0/Service.csproj.CoreCompileInputs.cache
/marketing-api/Service/obj/Debug/net6.0/Service.csproj.FileListAbsolute.txt
/marketing-api/Service/obj/Debug/net6.0/Service.dll
/marketing-api/Service/obj/Debug/net6.0/Service.GeneratedMSBuildEditorConfig.editorconfig
/marketing-api/Service/obj/Debug/net6.0/Service.pdb
/marketing-api/Service/obj/Debug/net6.0/Service.sourcelink.json
/marketing-api/Service/obj/project.assets.json
/marketing-api/Service/obj/project.nuget.cache
/marketing-api/Service/obj/Service.csproj.nuget.dgspec.json
/marketing-api/Service/obj/Service.csproj.nuget.g.props
/marketing-api/Service/bin/Debug/net6.0/DataLayer.dll
/marketing-api/Service/bin/Debug/net6.0/DataLayer.exe
/marketing-api/Service/bin/Debug/net6.0/DataLayer.pdb
/marketing-api/Service/bin/Debug/net6.0/Models.dll
/marketing-api/Service/bin/Debug/net6.0/Models.pdb
/marketing-api/Service/bin/Debug/net6.0/Service.deps.json
/marketing-api/Service/bin/Debug/net6.0/Service.dll
/marketing-api/Service/bin/Debug/net6.0/Service.pdb
/marketing-api/marketing-api/Resources/client/profile/Images/202310060115107711
/marketing-api/marketing-api/Resources/client/profile/Images/202310060120026369
/marketing-api/Models/bin/Debug/net6.0/Models.dll
/marketing-api/Models/bin/Debug/net6.0/Models.pdb
/marketing-api/Models/obj/Debug/net6.0/ref/Models.dll
/marketing-api/Models/obj/Debug/net6.0/Models.AssemblyInfoInputs.cache
/marketing-api/Models/obj/Debug/net6.0/Models.assets.cache
/marketing-api/Models/obj/Debug/net6.0/Models.csproj.CoreCompileInputs.cache
/marketing-api/Models/obj/Debug/net6.0/Models.csproj.FileListAbsolute.txt
/marketing-api/Models/obj/Debug/net6.0/Models.dll
/marketing-api/Models/obj/Debug/net6.0/Models.GeneratedMSBuildEditorConfig.editorconfig
/marketing-api/Models/obj/Debug/net6.0/Models.pdb
/marketing-api/Models/obj/Debug/net6.0/Models.sourcelink.json
/marketing-api/Models/obj/Debug/net6.0/refint/Models.dll
/marketing-api/Models/obj/Models.csproj.nuget.dgspec.json
/marketing-api/Models/obj/Models.csproj.nuget.g.props
/marketing-api/Models/obj/project.assets.json
/marketing-api/Models/obj/project.nuget.cache
/marketing-api/DataLayer/obj/Debug/net6.0/DataLayer.AssemblyInfo.cs
/marketing-api/marketing-api/obj/Debug/net6.0/marketing-api.AssemblyInfo.cs
/marketing-api/Models/obj/Debug/net6.0/Models.AssemblyInfo.cs
/marketing-api/Service/obj/Debug/net6.0/Service.AssemblyInfo.cs
/marketing-api/Service/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/marketing-api/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
/marketing-api/Service/obj/Debug/net8.0/Service.AssemblyInfoInputs.cache
/marketing-api/Service/obj/Debug/net8.0/Service.assets.cache
/marketing-api/Service/obj/Debug/net8.0/Service.csproj.AssemblyReference.cache
/marketing-api/Service/obj/Debug/net8.0/Service.GeneratedMSBuildEditorConfig.editorconfig
/marketing-api/Service/obj/Debug/net8.0/Service.GlobalUsings.g.cs
/marketing-api/Models/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/marketing-api/Models/obj/Debug/net8.0/Models.AssemblyInfo.cs
/marketing-api/Models/obj/Debug/net8.0/Models.AssemblyInfoInputs.cache
/marketing-api/Models/obj/Debug/net8.0/Models.assets.cache
/marketing-api/Models/obj/Debug/net8.0/Models.GeneratedMSBuildEditorConfig.editorconfig
/marketing-api/Models/obj/Debug/net8.0/Models.GlobalUsings.g.cs
/marketing-api/marketing-api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/marketing-api/marketing-api/obj/Debug/net8.0/marketing-api.AssemblyInfo.cs
/marketing-api/marketing-api/obj/Debug/net8.0/marketing-api.AssemblyInfoInputs.cache
/marketing-api/marketing-api/obj/Debug/net8.0/marketing-api.assets.cache
/marketing-api/marketing-api/obj/Debug/net8.0/marketing-api.csproj.AssemblyReference.cache
/marketing-api/marketing-api/obj/Debug/net8.0/marketing-api.GeneratedMSBuildEditorConfig.editorconfig
/marketing-api/marketing-api/obj/Debug/net8.0/marketing-api.GlobalUsings.g.cs
/marketing-api/DataLayer/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/marketing-api/DataLayer/obj/Debug/net8.0/DataLayer.AssemblyInfo.cs
/marketing-api/DataLayer/obj/Debug/net8.0/DataLayer.AssemblyInfoInputs.cache
/marketing-api/DataLayer/obj/Debug/net8.0/DataLayer.assets.cache
/marketing-api/DataLayer/obj/Debug/net8.0/DataLayer.csproj.AssemblyReference.cache
/marketing-api/DataLayer/obj/Debug/net8.0/DataLayer.GeneratedMSBuildEditorConfig.editorconfig
/marketing-api/DataLayer/obj/Debug/net8.0/DataLayer.GlobalUsings.g.cs
/marketing-api/.vs/marketing-api/FileContentIndex/7a802d93-7dec-4a54-bd80-f3fc42b322c0.vsidx
/marketing-api/.vs/marketing-api/FileContentIndex/5a0a56c5-6a62-45d5-884e-0ec581772aad.vsidx
/.gitignore
